h1{
    color:aliceblue;
    background-color: crimson;
    align-items: center;
    text-align: center;
}
button{
    color: beige;
    background-color: cadetblue;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: c */
    display: block;
    margin-left: auto;
    margin-right: auto;


}